<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Tunnelblick</string>
	<key>CFBundleIconFile</key>
	<string>tunnelblick.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.openvpn.tunnelblick</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OVPN</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0b25</string>
	<key>CFBundleVersion</key>
	<string>3.0b25</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUIElement</key>
	<string>1</string>
	<key>SUFeedURL</key>
	<string>http://tunnelblick.net/appcast.rss</string>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
	<key>Build</key>
	<string>1315</string>
</dict>
</plist>
