<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>			<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>		<array><string>tblk</string></array>
			<key>CFBundleTypeIconFile</key>			<string>tunnelblick_package.icns</string>
			<key>CFBundleTypeName</key>				<string>Tunnelblick VPN Configuration</string>
			<key>CFBundleTypeRole</key>				<string>Editor</string>
			<key>LSTypeIsPackage</key>				<true/>
			<key>NSPersistentStoreTypeKey</key>		<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>		<array><string>ovpn</string></array>
			<key>CFBundleTypeIconFile</key>			<string>tunnelblick_package.icns</string>
			<key>CFBundleTypeName</key>				<string>OpenVPN Configuration</string>
			<key>CFBundleTypeRole</key>				<string>Editor</string>
			<key>LSTypeIsPackage</key>				<true/>
			<key>NSPersistentStoreTypeKey</key>		<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>		<array><string>conf</string></array>
			<key>CFBundleTypeIconFile</key>			<string>tunnelblick_package.icns</string>
			<key>CFBundleTypeName</key>				<string>OpenVPN Configuration</string>
			<key>CFBundleTypeRole</key>				<string>Editor</string>
			<key>LSTypeIsPackage</key>				<true/>
			<key>NSPersistentStoreTypeKey</key>		<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>					<string>Tunnelblick</string>
	<key>CFBundleHelpBookFolder</key>				<string>help</string>
	<key>CFBundleHelpBookName</key>					<string>Tunnelblick Help</string>
	<key>CFBundleIconFile</key>						<string>tunnelblick.icns</string>
	<key>CFBundleIdentifier</key>					<string>net.tunnelblick.tunnelblick</string>
	<key>CFBundleInfoDictionaryVersion</key>		<string>6.0</string>
	<key>CFBundleName</key>							<string>Tunnelblick</string>
	<key>CFBundlePackageType</key>					<string>APPL</string>
	<key>CFBundleShortVersionString</key>			<string>TBVERSIONSTRING (build TBBUILDNUMBER) TBCONFIGURATION</string>
	<key>CFBundleSignature</key>					<string>OVPN</string>
	<key>CFBundleVersion</key>						<string>TBBUILDNUMBER</string>
	<key>IPCheckURL</key>							<string>https://tunnelblick.net/ipinfo</string>
	<key>NSAppleScriptEnabled</key>					<true/>
	<key>NSAppTransportSecurity</key>				<dict><key>NSAllowsArbitraryLoads</key><false/></dict>
	<key>NSHighResolutionCapable</key>				<true/>
	<key>NSMainNibFile</key>						<string>MainMenu</string>
	<key>NSPrincipalClass</key>						<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>		<false/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>	<true/>
	<key>NSUIElement</key>							<string>1</string>
	<key>OSAScriptingDefinition</key>				<string>tunnelblick.sdef</string>
	<key>SUAllowsAutomaticUpdates</key>				<false/>
	<key>SUEnableSystemProfiling</key>				<false/>
	<key>SUFeedURL</key>							<string>https://tunnelblick.net/appcast-v2.rss</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIDOzCCAi0GByqGSM44BAEwggIgAoIBAQDZrbatW0npHNOW3JKIKWK6/MLWhYEo
qphXkj/tuRmxw5j8Ht+vBTwdsM4MVmHUxF+FSTkt+DKJCSrvW4I7qnjkTi2ud48k
S0vQMsplwqRMkPF9C/kouuID3uYVmQ3ydmVU6gDL/Yly2lNEY5DMniIiqx16rX9T
6/Upd7aceGpVpD4GVVFwxbfTHBMtzovvJbXTmLAwyHkDtEykMeBjsDYf+Yvy+XBm
XdYyzQ9wUHuU0xWix7M9EW97WkvjmzoJi9Q3AfyVTqP0um8HnRQ8Lj65ZQprmhpI
6rEzxPsclBsYdWKsb5uH+jmZS/FDLuZ323coICD+5Twb9ZKrPs69UEY7AhUAroWz
/SNkL2R7TG/8KCNCIjl/XskCggEAaQdGaJhdvwsZLownItC4uOgQvs9iy/Mf3+ZD
cWirJwMHV09FDJ7BBxKS4eiGEZbfJ0+nqUSrAAYyBGYgcTMIRCrqSkzGH52HX+mP
Oc6Y0De3IEF0GMtibboFGG3Y1lHrNQffucr7/BLEBys/y9UddZvtJv5QlXxsbGau
xsG64pBdNVm1ULyf6ljPZjnMBeSrGCyonvlXCg+b3QDFxtiQ/FLvhTp2ef5pDAPX
edNZns3ztGo3RX0ToqxTlZopwKX+e4R0iEQGBTn2RZMpF4nDQd+NWuDZO/HIYptC
d3w/OUV9R2XMz6PIsEWQL5acv84zgis8nMovL0sBp55YYklBXwOCAQYAAoIBAQCZ
YBRojUJ32hYoYA7xoRbu5t9B29AAAUmrKv+0vkbUrgg1IY4QxUi24JI4+o/juJKA
fqN4X1lstCD5ctwzAsE97yTM7JmQtvvLhnkS+82zxA65iWq6x8VKjYbJgAdFhPXZ
JLeb6wBRaup06oKNZl38AgLjwvPPVLRn4/GvxjNkVPsr4tM6ktfkgaUSVG6iN4/6
HnG9DMQlHCY1Fx8YEWysEVIdxIkfM4yAuH0CeQDA/s/V2TJto/2gkDUO09uaFVps
y2ZKq8vczfaplXUg4qjyO20jPJ1Rbp/rh+IMowKVpxu1tAtV1Lx+ZcGWy4F0fHg/
oc6bOLFBXyEyrd3DpOjF
-----END PUBLIC KEY-----
</string>
	<key>TBAppcastRequiresDSASignature</key>		<true/>
	<key>TBBuildTimestamp</key>                 	<string>TBBUILDTIMESTAMP</string>
	<key>TBGitHash</key>							<string>TBGITHASH</string>
	<key>TBGitStatus</key>							<string>TBGITSTATUS</string>
	<key>TBPrivacyURL</key>							<string>https://tunnelblick.net/cPrivacy.html#tunnelblick-privacy</string>
</dict>
</plist>
