<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tblk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tunnelblick_package.icns</string>
			<key>CFBundleTypeName</key>
			<string>Tunnelblick VPN Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ovpn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tunnelblick_package.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenVPN Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>conf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tunnelblick_package.icns</string>
			<key>CFBundleTypeName</key>
			<string>OpenVPN Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Tunnelblick</string>
	<key>CFBundleIconFile</key>
	<string>tunnelblick.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.tunnelblick.tunnelblick</string>
	<key>CFBundleName</key>
	<string>Tunnelblick</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.8 (build TBBUILDNUMBER)</string>
	<key>CFBundleSignature</key>
	<string>OVPN</string>
	<key>CFBundleVersion</key>
	<string>TBBUILDNUMBER</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUIElement</key>
	<string>1</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.tunnelblick.net/appcast.rss</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>tunnelblick.sdef</string>
	<key>CFBundleHelpBookFolder</key>
	<string>help</string>
	<key>CFBundleHelpBookName</key>
	<string>Tunnelblick Help</string>
	<key>IPCheckURL</key>
	<string>https://www.tunnelblick.net/ipinfo</string>
</dict>
</plist>
