<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.tunnelblick.openvpn.leasewatch3</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Tunnelblick/Tunnelblick.app/Contents/Resources/leasewatch3</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Preferences/SystemConfiguration</string>
	</array>
</dict>
</plist>
