<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Tunnelblick Uninstaller</string>
	<key>CFBundleVersion</key>
	<string>TBBUILDNUMBER</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13 (build TBBUILDNUMBER)</string>
	<key>CFBundleIdentifier</key>
	<string>net.tunnelblick.tunnelblick-uninstaller</string>
	<key>CFBundleIconFile</key>
	<string>droplet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tunnelblick Uninstaller</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>dplt</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
